html, body {
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
}

body {
    display:flex;
    flex-direction: column;
}

.leaflet-popup-close-button {
    display:none;
}


.popupimage {
    width:300px;
    height:auto;
}

h1 {
    margin:0;
    padding:20px;
    text-align: center;
    font-family:"Ubuntu", "Helvetica", sans-serif;
    font-weight:100;
    color:grey;
}

h3 {
    margin:0;
    padding:20px;
    text-align: center;
    font-family:"Ubuntu", "Helvetica", sans-serif;
    font-weight:40;
    color:grey;
}

a:link {
    color:grey;
}

a:visited {
    color:grey;
}

a:hover {
    color:blue;
}

a:active {
    color:blue;
}

#mapid {
    flex:1;
    height:100%;
}

.leaflet-control-layers-overlays span {
    text-transform: capitalize;
}

#hideall {
    position:fixed;
    top:20px;
    right:20px;
}

.loading {
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    z-index:9999999;
    background-color:rgba(0,0,0,0.6);
    text-align:center;
}

.loading img {
    margin: auto auto;
    position:absolute;
    display:none;
    top:50%;
    filter:invert();
}